@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-mask::before {
  mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}

::-webkit-scrollbar {
  @apply w-[0.3rem];
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-violet-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-violet-700;
}

html {
  scrollbar-color: theme('colors.violet.500') theme('colors.neutral.900');
  scrollbar-width: thin;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
