.navlink-active::after {
  mask: conic-gradient(from 270deg, rgba(0, 0, 0, 0) var(--gradient-angle), rgba(0, 0, 0) var(--gradient-angle));
  @apply bg-purple-500;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0turn;
  inherits: true;
}

.navlink-inactive:hover::after {
  mask: conic-gradient(from 270deg, rgba(0, 0, 0, 0) var(--gradient-angle), rgba(0, 0, 0) var(--gradient-angle));
  animation: rotation 0.5s reverse forwards ease-in-out;
  @apply bg-purple-500;
}

@keyframes rotation {
  to {
    --gradient-angle: 1turn;
  }
}
